<header class="news-header">
  <div class="news-container">
    <div class="news-header-content">
      <div class="news-logo">
        <a href="/" class="news-logo-link">
          <img src="../assets/TV9_Logo.webp" alt="News Logo" class="news-logo-img">
          <span class="news-logo-text">Tv9 News</span>
        </a>
      </div>
      <nav class="news-nav">
        <ul class="news-nav-list">
          <li class="news-nav-item"><a href="/" class="news-nav-link">Home</a></li>
          <li class="news-nav-item"><a href="#" class="news-nav-link" #regional (click)="filteredNews(regional.innerText)">regional</a></li>
          <li class="news-nav-item"><a href="#" class="news-nav-link" #general (click)="filteredNews(general.innerText)">general</a></li>
          <li class="news-nav-item"><a href="#" class="news-nav-link" #world (click)="filteredNews(world.innerText)">world</a></li>
          <li class="news-nav-item"><a href="#" #politics class="news-nav-link" (click)="filteredNews(politics.innerText)">politics</a></li>
          <li class="news-nav-item"><a href="#" #business class="news-nav-link" (click)="filteredNews(business.innerText)">business</a></li>
          <li class="news-nav-item"><a href="#" #technology class="news-nav-link" (click)="filteredNews(technology.innerText)">technology</a></li>
          <!-- <li class="news-nav-item"><a href="#" #sports class="news-nav-link" (click)="filteredNews(sports.innerText)">sports</a></li>
          <li class="news-nav-item"><a href="#" #entertainment class="news-nav-link" (click)="filteredNews(entertainment.innerText)">entertainment</a></li> -->
          <li class="news-nav-item"><a routerLink="admin/login"  class="news-nav-link">admin Login</a></li>
          <li class="news-nav-item"><a routerLink="admin/list"  class="news-nav-link">admin List</a></li>

        </ul>
      </nav>

      <div class="news-search-bar">
        <input type="text" placeholder="Search..." class="news-search-input">
        <button class="news-search-button">Search</button>
      </div>
    </div>
  </div>
</header>



<router-outlet></router-outlet>

<div class="news-container">
  <div class="news-row">
    <div class="news-col" *ngFor="let d of filteredData">
      <div class="news-card">
        <div class="news-card-body">
          <img class="news-card-img" [src]="d.image" alt="News Image" *ngIf="d.image">
          <h5 class="news-card-title">{{d.title}}</h5>
          <p class="news-card-text">{{d.description}}</p>
          <p class="news-card-published">Live on: {{d.published | date}}</p>
          <a [href]="d.url" class="news-card-button" target="_blank">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="news-footer">
  <div class="news-container">
    <div class="news-footer-content">
      <div class="news-footer-links">
        <a href="/" class="news-footer-link">Home</a>
        <a href="/about" class="news-footer-link">About Us</a>
        <a href="/contact" class="news-footer-link">Contact</a>
        <a href="/privacy" class="news-footer-link">Privacy Policy</a>
        <a href="/terms" class="news-footer-link">Terms of Service</a>
      </div>
      <div class="news-social-media">
        <a href="https://facebook.com" target="_blank" class="news-social-icon">
          <img src="../assets/facebook.png" alt="Facebook">
        </a>
        <a href="https://twitter.com" target="_blank" class="news-social-icon">
          <img src="../assets/twitter.png" alt="Twitter">
        </a>
        <a href="https://instagram.com" target="_blank" class="news-social-icon">
          <img src="../assets/instagram.png" alt="Instagram">
        </a>
      </div>
      <p class="news-footer-text">&copy; 2024 NewsNow. All rights reserved.</p>
    </div>
  </div>
</footer>


